@include establish-baseline;

* {
  @include box-sizing(border-box);
}

body{
  font:#{$base-font-size}/#{$base-line-height} 'Droid sans',sans-serif;
  color:$font-color;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing:antialiased;
  //background-color:$gray-extra-light-color;
  background: url('/assets/images/background.png'), #fafafa;
}
  
a{text-decoration:none;}
a:hover{color:$brand-light;}

strong{font-weight:bold;}
em{font-style:italic;}
